*{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #ECF2FF;
}
.main_box{
    width: 736px;
    height: 512px;
    border-radius: 32px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
}
.blue_half{
    width: 368px;
    height: 512px;  
    background: var(--Gradient-1, linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%));;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.result{
    color: #CAC9FF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}
.circle{
    border-radius: 100%;
    width: 200px;
    height: 200px;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    background: var(--Gradient-2, linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0.00) 100%, rgba(37, 33, 201, 0.00) 100%));
    margin-top: 35px;
}
.score{
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    color: white;
}
.score2{
    color: #CAC9FF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}
.great{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    color: white;
    margin-top: 28px;
}
.explanation{
    color: #CAC9FF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    margin-top: 14px;
}
.white_half{
    display: flex;
    align-items: start;
    justify-content:center;
    flex-direction: column;
    padding: 0 40px;
}
.summary{
    color: #303B59;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}
.box_red{
    width: 288px;
    height: 56px;
    border-radius: 12px;
    background: var(--red-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #F55);   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}
.reaction{
    display: flex;
    align-items: center;
    gap: 12px;
}
.text_reaction{
    font-size: 18px;
font-style: normal;
font-weight: 500;
color: rgba(255, 85, 85, 1);
}
.score_reaction{
    font-size: 18px;
    font-weight: 700;
    color: rgba(48, 59, 89, 1);
}
.score100{
    font-size: 18px;
    font-weight: 700;
    color: #aaaaaa;
}
.box_yellow{
    width: 288px;
    height: 56px;
    border-radius: 12px;
    background: var(--yellow-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #FFB21E);   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}
.memory{
    display: flex;
    align-items: center;
    gap: 12px;
}
.text_memory{
    font-size: 18px;
font-style: normal;
font-weight: 500;
color: rgba(255, 178, 30, 1);
}
.score_memory{
    font-size: 18px;
    font-weight: 700;
    color: rgba(48, 59, 89, 1);
}
.score100{
    font-size: 18px;
    font-weight: 700;
    color: #aaaaaa;
}
.box_green{
    width: 288px;
    height: 56px;
    border-radius: 12px;
    background: var(--green-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #00BB8F); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}
.verbal{
    display: flex;
    align-items: center;
    gap: 12px;
}
.text_verbal{
    font-size: 18px;
font-style: normal;
font-weight: 500;
color: rgba(0, 187, 143, 1);
}
.score_verbal{
    font-size: 18px;
    font-weight: 700;
    color: rgba(48, 59, 89, 1);
}
.score100{
    font-size: 18px;
    font-weight: 700;
    color: #aaaaaa;
}

.box_blue{
    width: 288px;
    height: 56px;
    border-radius: 12px;
    background: var(--blue-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #1125D6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}
.visual{
    display: flex;
    align-items: center;
    gap: 12px;
}
.text_visual{
    font-size: 18px;
font-style: normal;
font-weight: 500;
color: rgba(17, 37, 214, 1);
}
.score_visual{
    font-size: 18px;
    font-weight: 700;
    color: rgba(48, 59, 89, 1);
}
.score100{
    font-size: 18px;
    font-weight: 700;
    color: #aaaaaa;
}
.boxes{
    gap: 16px;
    margin-top: 28px;
    display: flex;
    flex-direction: column;
}
.button{
    width: 288px;
    height: 56px;
    border-radius: 128px;
    background: var(--Dark-Navy, #303B59);
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: none;
    margin-top: 41px;
}
